[submodule "repos/easySQL"]
	path = repos/easySQL
	url = https://SimonWaldherr@github.com/SimonWaldherr/easySQL.git
[submodule "repos/lightbox.js"]
	path = repos/lightbox.js
	url = git@github.com:SimonWaldherr/lightbox.js.git
[submodule "repos/smtpclass"]
	path = repos/smtpclass
	url = git://github.com/KaiserSoft/PHP_class_email.git
[submodule "repos/majaX.js"]
	path = repos/majaX.js
	url = https://github.com/SimonWaldherr/majaX.js.git
[submodule "repos/ColorConverter.js"]
	path = repos/ColorConverter.js
	url = https://github.com/SimonWaldherr/ColorConverter.js.git
[submodule "repos/BaF-Framework"]
	path = repos/BaF-Framework
	url = https://github.com/SimonWaldherr/BaF-Framework.git
[submodule "repos/cryptofoo"]
	path = repos/cryptofoo
	url = https://github.com/SimonWaldherr/cryptofoo.git
