[submodule "repos/baf"]
	path = repos/baf
	url = https://SimonWaldherr@github.com/SimonWaldherr/buttons-and-forms.git
[submodule "repos/easySQL"]
	path = repos/easySQL
	url = https://SimonWaldherr@github.com/SimonWaldherr/easySQL.git
[submodule "repos/geolib"]
	path = repos/geolib
	url = https://SimonWaldherr@github.com/SimonWaldherr/Geolib.git
[submodule "repos/html5forms.js"]
	path = repos/html5forms.js
	url = https://SimonWaldherr@github.com/SimonWaldherr/html5Forms.js.git
[submodule "repos/jsHashes"]
	path = repos/jsHashes
	url = git://github.com/h2non/jsHashes.git
[submodule "repos/lightbox.js"]
	path = repos/lightbox.js
	url = git@github.com:SimonWaldherr/lightbox.js.git
[submodule "repos/reqwest"]
	path = repos/reqwest
	url = git@github.com:SimonWaldherr/reqwest.git
[submodule "repos/smtpclass"]
	path = repos/smtpclass
	url = git://github.com/KaiserSoft/PHP_class_email.git
