/*
 *
 * Repo: https://github.com/SimonWaldherr/loginCtrl
 * Demo: http://cdn.simon.waldherr.eu/projects/loginCtrl/
 * License: MIT
 * Version: 0.09
 *
 */

body{
  color: #060606;
  background: #fcfcfc;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
  width: 1020px;
  margin: auto;
}

.roundborder{
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.box{
  position: relative;
  top: 50px;
  width: 400px;
  height: 480px;
  float: left;
  margin: 10px;
  padding: 10px;
  background: #ddd;
  -webkit-box-shadow: 0px 5px 15px 1px rgba(115, 115, 115, 1);
  box-shadow: 0px 5px 15px 1px rgba(115, 115, 115, 1);
}

.boxinbox{
  position: relative;
  height: 100%;
  width: 100%;
  background: #fff;
  -webkit-box-shadow: inset 0px 5px 15px 1px rgba(115, 115, 115, 1);
  box-shadow: inset 0px 5px 15px 1px rgba(115, 115, 115, 1);
  overflow: hidden;
}

.boxes{
  position: relative;
  top: 32px;
  width: 300px;
  text-align: center;
  background: #eee;
  margin: auto;
  padding: 15px;
}

.boxes ul{
  list-style: none;
  padding-left: 2px;
}

.boxes li {
  //margin: 5px;
}

.boxes label{
  position: relative;
  width: 114px;
  display: inline-block;
}

.boxes input{
  width: 160px;
  font-size: larger;
}

.spacing{
  position: relative;
  height: 20px;
}

.submitbutton{
  background: #aaa;
  width: 140px;
  margin: 14px auto 14px auto;
  font-size: larger;
  padding: 5px;
  border-radius: 15px;
}

.submitbutton:hover{
  background: #555;
  color: #fff;
}

.salts{
  display: none;
  visibility: hidden;
}

#content {
margin: 15px;
top: 15px;
position: relative;
}

#loginbox{
  
}

#signupbox{
  
}
